body{
    background-image: url(Tachinho\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    overflow-x: hidden;
}

.titulo {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    margin: 40px auto 0 auto;
}

.paragrafo{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    width: 95%;
    margin: 30px 15px;
}

.subtitulo{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.topico{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.listas{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    list-style-position: inside;
}

.legenda{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: auto;
    font-size: 15px;
    text-align: center;
}

.imagem{
    text-align: center;
    max-width: 100em; 
}

.corpo{
    background-color: #f2f5f7;
    padding: 10px 50px 10px 50px;
}

.rodape{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

